<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Video Capture PWA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video
    class="video"
    #video
    autoplay
    playsinline
    muted
    [hidden]="!isRecording"
  ></video>

  <div id="fullscreen" slot="fixed"></div>

  <ion-list *ngIf="!isRecording">
    <ion-item *ngFor="let video of videos;" (click)="play(video)" tappable>
      {{video}}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="isRecording ? stopRecord() : recordVideo()">
      <ion-icon [name]="isRecording ? 'stop' : 'videocam'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
